<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings >
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GraphIVR-20160820073534.mdf;Initial Catalog=aspnet-GraphIVR-20160820073534;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Neo4j" connectionString="http://localhost:7474/db/data/"/>
  </connectionStrings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-4.3.1.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>